@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    margin-right: 6%;
    flex: 0 0 47%;
    min-width: 0;
  }
  @media (min-width: 500px) {
    .embla__slide {
      margin-right: 3.3333%;
      flex: 0 0 30%; 
    }
  }
  @media (min-width: 768px) {
    .embla__slide {
      margin-right: 5%;
      flex: 0 0 16%; 
    }
  }
}

@layer base {
  body {
    overflow-x: hidden;    
  } 
}